* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.bordercontainer,
section:not(.navbar) {
  border-bottom: 1px solid #e0e0e0;
}

hr {
  display: none;
}

:root {
  --ukrblue: #0057b7;
  --ukryellow: #ffdd00;
}

a:link {
  color: #0277bd;
  text-decoration: none;
}

a:visited {
  color: #0277bd;
  text-decoration: none;
}

a:hover {
  color: #0277bd;
  text-decoration: underline;
}

.navbar {
  padding-left: 12rem;
  padding-right: 12rem;
  /* padding-top: 2rem; */
  /* padding-bottom: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Yantramanav", sans-serif;
  height: 45px;
  text-transform: uppercase;
}

.navbar-list ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navbar-list a {
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #fff;
  opacity: 70%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.navbar-list a:hover {
  opacity: 100%;
}

.navbar-list ion-icon {
  align-items: center;
  font-size: 1.3rem;
}

.navbar-list ion-icon:hover {
  opacity: 100%;
}

.logo:hover {
  opacity: 50%;
}

hr {
  opacity: 30%;
}

#hero {
  font-family: "Yantramanav", sans-serif;
  /* margin-left: 16rem;
  margin-right: 16rem; */
  /* margin-top: 3rem; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  display: inline-block;
  background: black;
  /* color: #0000; */
}

#about {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.about-card h2 {
  text-align: center;
  font-size: 13px;
  font-family: "Lucida Grande";
}

#about p {
  inline-size: 40rem;
  font-family: "Yantramanav", sans-serif;
}

header {
  background: rgba(22, 22, 23, 0.8);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.hero-title {
  background-image: /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */ url(../assets/hero-bg.png);
  background-size: auto 700;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* position: relative; */
  /* height: 40rem; */
}

.resize-background-image {
  visibility: hidden;
}

.hero-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ); En vez de poner toda la caja en negro, mejor subrayar en negro lo importante para generar impacto */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 20px;
  /* padding: 1rem; agregar padding hace que hero-title-text en sí se vuelva difuminado también, usar z-index con un div separado para el texto no lo soluciona */
}

.hero-title-text p {
  display: block;
  overflow-wrap: break-word;
  inline-size: 26rem;
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

.bordercontainer h1 {
  display: inline;
  font-size: 4rem;
  font-weight: 700;
}

.bordercontainer > h1 {
  color: var(--ukrblue);
}

.bordercontainer > h1 + h1 {
  color: var(--ukryellow);
}

footer {
  padding-left: 12rem;
  padding-right: 12rem;
  margin-top: 8px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  position: relative;
}

#footerlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footericons a {
  color: black;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

ion-icon:hover {
  opacity: 50%;
}

#contact {
  display: none;
}
